Задание 1

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ratings.csv') 

t_data = pd.read_csv('movies.csv')

(t_data[ t_data.movieId == data[ data.rating == max(data.rating) ]['movieId']
        .value_counts()
        .index[0]
        .tolist() ]
 .values
 .tolist()[0][1])

'Shawshank Redemption, The (1994)'

Задание 2

In [3]:
data = pd.read_csv('power.csv')

data[ data['country'].str.contains('ston', case=False) ]['country'].unique()

array(['Estonia'], dtype=object)

In [4]:
data[ data['country'].str.contains('Latv', case=False) ]['country'].unique()

array(['Latvia'], dtype=object)

In [5]:
data[ data['country'].str.contains('Li', case=False) ]['country'].unique()

array(['Korea, Republic of', 'Lithuania', 'Australia', 'Philippines',
       'Republic of Moldova', 'Belize', 'Bolivia (Plur. State of)',
       'Dominican Republic', 'Liberia', 'Libya',
       'Venezuela (Bolivar. Rep.)', 'Mali', 'Syrian Arab Republic',
       'Somalia', 'Mongolia', 'Liechtenstein', 'Wallis and Futuna Is.'],
      dtype=object)

In [6]:
(sum
 
 (data
  
  [ 
      ( data.quantity >= 0 ) 
      &
      ( (data.year >= 2005) & (data.year <= 2010) ) 
      &
      ( (data.category == 4) |
       (data.category == 12) |
       (data.category == 21) )
      &
      ( (data['country'] == 'Latvia') |
       (data['country'] == 'Lithuania') |
       (data['country'] == 'Estonia') ) 
  ]
  
  ['quantity']
  .values
  .tolist()
 
 )
 
)

240580.0

Задание 3

In [7]:
len(pd.read_html('https://fortrader.org/quotes'))

8

In [8]:
pd.read_html('https://fortrader.org/quotes')[0]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,EURRUB Курс евро к рублю сегодня,80.6510,-0.5103,-0.6287,NaN
1,USDRUB Курс рубля к доллару,71.4132,-0.3041,-0.4240,NaN

In [9]:
pd.read_html('https://fortrader.org/quotes')[7]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Фьючерс РТС Курс фьючерса на индекс РТС,118130.00,+116 883,+9 372,NaN
1,РТС Курс индекса РТС,1247.83,+0.69,+0.06,NaN
2,DAX30,12616.80,-116.70,-0.92,NaN
3,Индекс Dow 30 (DJI),25956.00,-331,-1,NaN
4,FTSE,7137.70,+851.8,+13.6,NaN
5,CAC 40,5030.50,-59.1,-1.2,NaN
6,Nasdaq 100,10592.00,-12.10,-0.11,NaN
7,Russell 2000,1424.50,-18.4,-1.3,NaN
8,S&P 500,3157.00,-19.75,-0.62,NaN
9,IBEX 35,7433.40,-90.1,-1.2,NaN
10,Nikkei 225,22555.00,-79,-0,NaN
11,Euro Stoxx 50,3318.60,-35.7,-1.1,NaN
12,S&P/ASX 200,6048.00,нет данных,нет данных,NaN
13,MIB,19960.00,нет данных,нет данных,NaN