Задание 1

In [1]:
import pandas as pd

In [16]:
data = pd.read_csv('ml-latest-small/ratings.csv')

data_max = data.groupby('userId').max().reset_index()

data_max['timestamp_max'] = data_max['timestamp']

In [17]:
data_min = data.groupby('userId').min().reset_index() 

data_min['timestamp_min'] = data_min['timestamp']

In [18]:
data_users = data.pivot_table(index = 'userId', 
                 columns = 'rating', 
                 values = 'timestamp', 
                 aggfunc = 'count', 
                 margins = True, 
                 fill_value = 0).reset_index()[['userId', 'All']]

In [19]:
big_data = (data_max[['userId', 'timestamp_max']]
            .merge(data_min[['userId', 'timestamp_min']])).merge(data_users)
                                           
big_data = big_data[big_data.All > 100]

big_data['lifetime'] = big_data['timestamp_max'] - big_data['timestamp_min'] 

big_data['lifetime'].mean()

40080507.4496124

Задание 2

In [20]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

In [21]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

In [22]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

In [23]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [24]:
data_revenue = rzd.merge(auto, how='outer').merge(air, how='outer')

data_revenue

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0

In [25]:
big_data = data_revenue.merge(client_base)

big_data

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          NaN        4834.0          4.0    Строителей 18
6        117          NaN          98.0         13.0  Панфиловская 33
7        118          NaN           NaN        173.0     Мастеркова 4

Задание 3

Раз координаты фиксируются во время работы приложения, значит, очевидно, известно время, когда этим приложением пользовались. 

Это время относится или к визитам, или покупкам. Всё, что не указано в чеке покупки - относится к визитам. 

То есть можно соотнести друг с другом разные параметры и сделать таблицу, где будут указаны: 

- юзер айди
- время захода 
- координаты захода 
- визиты 
- покупки 

Из координат можно узнать город, страну. Можно будет сделать аналитику по этим параметрам.  

Если наборы координат во время посещений приложения сильно отличаются, а зафикисрованное время почти не отличается - значит, пользователь, например, использует vpn. И это надо будет учитывать во время аналитики.